:local(.menu) {

  nav {
    display: none;
  }

  @media screen and (max-width: 600px) {
    display: initial;

    nav {
      display: flex;
      justify-content: space-around;
      background: #252a34;
    }

    a {
      color: white;
      border: none;
      font-size: 1.25em;
      margin: 15px;
    }

    a:hover {
      cursor: pointer;
    }
  }
}