:local(.option) {

  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #eeeeee;
  color: black;

  button {
    position: absolute;
    background: none;
    border: none;
    font-size: 1.5em;
    top: 25px;
    right: 25px;
  }

  button:hover {
    border-radius: 50%;
    color: #252a34;
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }

  button:active {
    font-size: 1.75em;
  }

  h2:hover {
    cursor: pointer;
  }

  ul {
    padding: 0;
  }

  li {

    font-size: 1.5em;
    margin: 20px;

    a {
      color: black;
    }

  }

  @media screen and (max-width: 600px) {
    button {
      display: none;
    }
  }
}