:local(.form) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;

  span {
    color: #08d9d6;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-top: 1vh;
    background: #252a34;
    border: 1px solid #252a34;
    padding: 20px;
    align-items: center;
    box-shadow: 5px 5px #eeeeee;

    input {
      padding-left: 10px;
      font-size: 1.5em;
      margin-bottom: 10px;
      border: 1px solid black;
    }

    button {
      width: 50%;
      font-size: 1.5em;
      border: 1px solid #08d9d6;
      background: #08d9d6;
      color: #252a34;
      margin-top: 10px;
    }

    label {
      width: 100%;
      color: white;
    }

    select {
      border-radius: 0;
      width: 100%;
      padding-left: 10px;
      font-size: 1.5em;
      margin-bottom: 10px;
      border: 1px solid black;
    }
  }

  .signup-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    h3 {
      margin-bottom: 10px;
    }
    a {
      text-align: center;
      width: 100%;
      color: #eeeeee;
      padding: 10px;
      background: #252a34;
      border: 1px solid black;
      margin-bottom: 15px;
    }
  }
}